
 <div>
   
   <div class="home-page">
   <div class="container">
    <div class="token-allocation">
        <h2>Avax Allocation</h2>
        <a href="https://subnets.avax.network/p-chain/address/avax1u8gw5ly3are8yzyh6mc0u2h2uslm5jdawzuwpw" style="color:#36AE7C;" target="_blank">avax1u8gw5ly3are8yzyh6mc0u2h2uslm5jdawzuwpw</a>
        <div class="avax-allocation" id="token-allocation-chart">
            

                <!-- avax allocation chart -->
                <div>
                    <canvasjs-chart [options]="chartOptions" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
                </div> 

                <!-- end avax allocation chart -->

            
        </div>
        <div class="allocation-details">
            <p>Total Value <span>$30,000,000</span></p>
            <ul>
                <li>Vested: 70%</li>
                <li>Locked: 16%</li>
                <li>On Exchange: 11%</li>
            </ul>
        </div>
    </div>

    <div class="defi-allocation">
        <h2>Perp Allocation</h2>
        <div class="perp-allocation" id="defi-allocation-chart">

            <!-- start perp allocation chart -->
            <div>
                <canvasjs-chart [options]="chartOptions2" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>    
            </div> 
            <!-- end perp allocation chart -->

        </div>
        <div class="allocation-details">
            <p>Total Value <span>$18,000,000</span></p>
            <ul>
                <li>Staked: 98%</li>
                <li>dYdX: 2%</li>
                <li>TraderJoe: <1%</li>
            </ul>
        </div>
    </div>

    <div class="history-allocation">
        <h2>Yields</h2>
        <div id="token-history-chart">

            <!-- start yields chart -->
            <div>
                <canvasjs-chart [options]="chartOptions3" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>    
            </div> 

            <!-- end yields chart -->


        </div>
        <div class="allocation-details">
            <p>Total Value <span>$69,420</span></p>
            <ul>
                <li>Staking: 70%</li>
                <li>Funding Rate: 16%</li>
                <li>LP Positions: 11%</li>
            </ul>
        </div>
    </div>

</div>

<div class="all-tokens">
    <h2>All Tokens (6)</h2>
    <div class="tokens-table">
        <table>
            <thead>
                <tr>
                    <th>Token</th>
                    <th>Price</th>
                    <th>Balance</th>
                    <th>Value</th>
                    <th>Allocation</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>ETH</td>
                    <td>$3,852.27</td>
                    <td>0.00539037</td>
                    <td>$20.76</td>
                    <td>69.51%</td>
                </tr>
                <tr>
                    <td>AVAX</td>
                    <td>$36.66</td>
                    <td>0.1324869</td>
                    <td>$4.857</td>
                    <td>16.28%</td>
                </tr>
                <tr>
                    <td>USDC</td>
                    <td>$0.9991</td>
                    <td>3.2561</td>
                    <td>$3.25</td>
                    <td>10.88%</td>
                </tr>
                <tr>
                    <td>USDC</td>
                    <td>$0.9992</td>
                    <td>0.9499</td>
                    <td>$0.95</td>
                    <td>3.18%</td>
                </tr>
                <tr>
                    <td>FXS</td>
                    <td>$4.77</td>
                    <td>0.0102</td>
                    <td>$0.05</td>
                    <td>0.17%</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



 </div>
 </div>
