
 <div>
   
   <div class="home-page">
   <div class="container">
    <div class="token-allocation">
        
        <div class="avax-allocation" id="token-allocation-chart">
            

                <!-- avax allocation chart -->
                <div>
                    <canvasjs-chart [options]="chartOptions" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
                </div> 

                <!-- end avax allocation chart -->

            
        </div>
        <div class="allocation-details">
            <h2>Avax Allocation</h2>
            <p>Total Value <span>$2,500,000</span></p>
            <ul>
                <li>
                    FDA QS Wallet: <a href="https://subnets.avax.network/p-chain/address/avax10f8305248c0wsfsdempdtpx7lpkc30vwzl9y9q" style="color:#36AE7C;" target="_blank">avax10f8305248c0wsfsdempdtpx7lpkc30vwzl9y9q</a>
                </li>
            </ul>
        </div>
    </div>


    <div class="history-allocation">
        <div id="token-history-chart">

            <!-- start yields chart -->
            <div>
                <canvasjs-chart [options]="chartOptions3" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>    
            </div> 

            <!-- end yields chart -->


        </div>
        <div class="allocation-details">
            <h2>Yields</h2>
            <p>Total Value <span>$12,500,000</span></p>
            <ul>
                <li>
                    FDA QS Payout Address: <a href="https://subnets.avax.network/p-chain/address/avax19xkrgef0ywlvkxxzlhv9qqwk9gyt7w6k785qu8" style="color:#36AE7C;" target="_blank">avax19xkrgef0ywlvkxxzlhv9qqwk9gyt7w6k785qu8</a>
                </li>
            </ul>
        </div>
    </div>


    <div class="defi-allocation">
        <div class="perp-allocation" id="defi-allocation-chart">

            <!-- start perp allocation chart -->
            <div>
                <canvasjs-chart [options]="chartOptions2" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>    
            </div> 
            <!-- end perp allocation chart -->

        </div>
        <div class="allocation-details">
            <h2>Perp Allocation</h2>
            <p>Total Value <span>$10,000,000</span></p>
            <ul>
                <li>
                    FDA QS Wallet: <a href="https://arbiscan.io/address/0x3014ab992464e3323d4b53570badf782ac897a67" style="color:#36AE7C;" target="_blank">0x3014Ab992464E3323D4b53570baDF782aC897a67</a>
                </li>
            </ul>
        </div>
    </div>


</div>

<div class="all-tokens">
    <h2>All Tokens</h2>
    <div class="tokens-table">
        <table>
            <thead>
                <tr>
                    <th>Token</th>
                    <th>Price</th>
                    <th>Balance</th>
                    <th>Value</th>
                    <th>Allocation</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>ETH</td>
                    <td>$3,593.54</td>
                    <td>2782.77</td>
                    <td>$10,000,000.00</td>
                    <td>80.00%</td>
                </tr>
                <tr>
                    <td>AVAX</td>
                    <td>$30.08</td>
                    <td>83,111.70</td>
                    <td>$2,500,000.00</td>
                    <td>19.79%</td>
                </tr>
                <tr>
                    <td>USDC</td>
                    <td>$0.9991</td>
                    <td>3.2561</td>
                    <td>$3.25</td>
                    <td>00.11%</td>
                </tr>
                <tr>
                    <td>USDC</td>
                    <td>$0.9992</td>
                    <td>0.9499</td>
                    <td>$0.95</td>
                    <td>00.10%</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



 </div>
 </div>
