<tui-root>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="navbar">
  <a href="/home">Home</a>
  <!-- <a href="/bridge">Ethereum to Lukso Bridge - beta</a> -->
  <a href="/staking">Staking</a>
  <!-- <a href="https://info.universalswaps.io/#/pools/0x6449cf24f54d8762e40c5e64639f8ee1435d8038">Universal Token - DAO</a>
  <a href="https://t.me/aimee_crypto">speak with our Brand Ambassador</a> -->
</div>

<router-outlet />

</tui-root>